<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息发送页面</title>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <style>
        #submitProducer{
            width: 125px;
            height: 40px;
            color: white;
            background-color: #168bbb;
            border: solid;
            font-size: 17px;
            font-weight:bold;
            font-family: 微软雅黑;
        }
        #key{
            width: 50%;
            height: 30px;
            background-color: #F0F8FF;
            border: solid;
            border-color: aqua;
            border-width:1px;
        }
        #tag{
            width: 50%;
            height: 30px;
            background-color: #F0F8FF;
            border: solid;
            border-color: aqua;
            border-width:1px;
        }
        #value{
            width: 50%;
            height: 400px;
            background-color: #F0F8FF;
            border: solid;
            border-color: aqua;
            border-width:1px;
        }
        span{
            font-size: 17px;
            font-weight:bold;
            font-family: 微软雅黑;
        }
    </style>
</head>
<body>

<form id="form1" >
    <span>消息主键:</span><input type="text" id="key" class="key" name="key"><br><p></p>
    <span>消息标签:</span><input type="text" id="tag" name="tag"><br><p></p>
    <span>消息主体:</span><textarea id="value" name="value"></textarea><br><p></p>
    <input type="button" value="发送消息" id="submitProducer">
</form>

<script type="text/javascript">
    $(function () {
        $("#submitProducer").click(function () {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "http://localhost:8083/rocket/testProducer",//请求的 URL地址
                dataType: "json",//返回的数据类型
                data: $("#form1").serialize(),
                success: function (data) {
                    // $.MsgBox.Alert("消息发送结果", data);
                },
                error: function (data) {
                    alert(data.msgId);
                }
            })
        });

        (function () {
            $.MsgBox = {
                Alert: function (title, msg) {
                    GenerateHtml("alert", title, msg);
                    btnOk(); //alert只是弹出消息，因此没必要用到回调函数callback
                    btnNo();
                }
            }
            //生成Html
            var GenerateHtml = function (type, title, msg) {
                var result = msg;
                var messageResult = "<table style='height: 500px'>\n" +
                    "    <tr><td>SENDSTATUS:</td><td>" + result.sendStatus + "</td></tr>" +
                    "    <tr><td>MESSAGEID:</td><td>" + result.msgId + "</td></tr>" +
                    "    <tr><td>MESSAGE:</td><td>" + JSON.parse(result.msg) + "</td></tr>" +
                    "</table>";
                var _html = "";
                _html += '<div id="mb_box"></div><div id="mb_con"><span id="mb_tit">' + title + '</span>';
                _html += '<a id="mb_ico">x</a><div id="mb_msg">' + messageResult + '</div><div id="mb_btnbox">';
                if (type == "alert") {
                    _html += '<input id="mb_btn_ok" type="button" value="关闭" />';
                }
                _html += '</div></div>';
                //必须先将_html添加到body，再设置Css样式
                $("body").append(_html);
                //生成Css
                GenerateCss();
            }

            //生成Css
            var GenerateCss = function () {
                $("#mb_box").css({
                    width: '100%',
                    height: '100%',
                    zIndex: '99999',
                    position: 'fixed',
                    filter: 'Alpha(opacity=60)',
                    backgroundColor: 'black',
                    top: '0',
                    left: '0',
                    opacity: '0.6'
                });
                $("#mb_con").css({
                    zIndex: '999999',
                    width: '600px',
                    height: '800px',
                    position: 'fixed',
                    backgroundColor: 'White',
                    borderRadius: '15px'
                });
                $("#mb_tit").css({
                    display: 'block',
                    fontSize: '14px',
                    color: '#444',
                    padding: '10px 15px',
                    backgroundColor: '#DDD',
                    borderRadius: '15px 15px 0 0',
                    borderBottom: '3px solid #009BFE',
                    fontWeight: 'bold'
                });
                $("#mb_msg").css({
                    padding: '20px',
                    lineHeight: '20px',
                    borderBottom: '1px dashed #DDD',
                    fontSize: '13px'
                });
                $("#mb_ico").css({
                    display: 'block',
                    position: 'absolute',
                    right: '10px',
                    top: '9px',
                    border: '1px solid Gray',
                    width: '18px',
                    height: '18px',
                    textAlign: 'center',
                    lineHeight: '16px',
                    cursor: 'pointer',
                    borderRadius: '16px',
                    fontFamily: '微软雅黑'
                });
                $("#mb_btnbox").css({
                    margin: '15px 0 10px 0',
                    textAlign: 'center'
                });
                $("#mb_btn_ok,#mb_btn_no").css({
                    width: '85px',
                    height: '30px',
                    color: 'white',
                    border: 'none'
                });
                $("#mb_btn_ok").css({
                    backgroundColor: '#168bbb'
                });
                $("#mb_btn_no").css({
                    backgroundColor: 'gray',
                    marginLeft: '20px'
                });
                //右上角关闭按钮hover样式
                $("#mb_ico").hover(function () {
                    $(this).css({
                        backgroundColor: 'Red',
                        color: 'White'
                    });
                }, function () {
                    $(this).css({
                        backgroundColor: '#DDD',
                        color: 'black'
                    });
                });
                var _widht = document.documentElement.clientWidth; //屏幕宽
                var _height = document.documentElement.clientHeight; //屏幕高
                var boxWidth = $("#mb_con").width();
                var boxHeight = $("#mb_con").height();
                //让提示框居中
                $("#mb_con").css({
                    top: (_height - boxHeight) / 2 + "px",
                    left: (_widht - boxWidth) / 2 + "px"
                });
            }
            //确定按钮事件
            var btnOk = function (callback) {
                $("#mb_btn_ok").click(function () {
                    $("#mb_box,#mb_con").remove();
                    if (typeof(callback) == 'function') {
                        callback();
                    }
                });
            }
            //取消按钮事件
            var btnNo = function () {
                $("#mb_btn_no,#mb_ico").click(function () {
                    $("#mb_box,#mb_con").remove();
                });
            }
        })();
    });
</script>

</body>
</html>